.hm-jun[data-hm-jun-theme="cake"] {
	--border-radius-100: calc(4px * var(--border-radius-factor-md));
	--border-radius-200: calc(8px * var(--border-radius-factor-md));
	--border-radius-300: calc(16px * var(--border-radius-factor-md));
}
.hm-jun[data-hm-jun-theme="strawberry"] {
	--border-radius-100: calc(4px * var(--border-radius-factor-full));
	--border-radius-200: calc(8px * var(--border-radius-factor-full));
	--border-radius-300: calc(16px * var(--border-radius-factor-full));
}
