.holymoly-theme[data-holymoly-primary="blue-500"] {
	--primary: var(--blue-500);
}
.holymoly-theme[data-holymoly-primary="pink-400"] {
	--primary: var(--pink-400);
}

.holymoly-theme {
	--secondary: var(--gray-100);
	--success: var(--green-500);
	--warning: var(--orange-500);
	--danger: var(--red-500);
	--contrast: var(--gray-800);
	--hint: var(--gray-600);
}
