/** RGB - number */
:is(
		.holymoly-theme[data-holymoly-appearance="dark"],
		:root[data-holymoly-appearance="dark"]
	) {
	--rgb-white: 255 255 255;
	--rgb-black: 0 0 0;

	--rgb-gray-000: 31 34 41;
	--rgb-gray-050: 35 39 46;
	--rgb-gray-100: 44 48 57;
	--rgb-gray-200: 63 67 79;
	--rgb-gray-300: 82 86 100;
	--rgb-gray-400: 103 106 121;
	--rgb-gray-500: 124 127 143;
	--rgb-gray-600: 147 149 164;
	--rgb-gray-700: 170 172 186;
	--rgb-gray-800: 195 196 207;
	--rgb-gray-900: 221 221 228;
	--rgb-gray-950: 247 247 250;

	--rgb-blue-050: 18 65 135;
	--rgb-blue-100: 16 79 173;
	--rgb-blue-200: 17 97 214;
	--rgb-blue-300: 35 115 235;
	--rgb-blue-400: 63 138 250;
	--rgb-blue-500: 95 157 250;
	--rgb-blue-600: 129 178 252;
	--rgb-blue-700: 173 206 255;
	--rgb-blue-800: 208 227 254;
	--rgb-blue-900: 227 238 255;

	--rgb-red-050: 130 21 28;
	--rgb-red-100: 158 19 28;
	--rgb-red-200: 184 15 26;
	--rgb-red-300: 219 39 52;
	--rgb-red-400: 235 75 86;
	--rgb-red-500: 245 98 108;
	--rgb-red-600: 242 126 134;
	--rgb-red-700: 255 161 167;
	--rgb-red-800: 253 192 196;
	--rgb-red-900: 254 221 223;

	--rgb-orange-050: 120 56 0;
	--rgb-orange-100: 153 71 0;
	--rgb-orange-200: 178 83 0;
	--rgb-orange-300: 212 98 0;
	--rgb-orange-400: 247 120 10;
	--rgb-orange-500: 255 136 33;
	--rgb-orange-600: 255 155 69;
	--rgb-orange-700: 252 185 126;
	--rgb-orange-800: 254 224 198;
	--rgb-orange-900: 255 240 227;

	--rgb-green-050: 8 77 61;
	--rgb-green-100: 0 97 74;
	--rgb-green-200: 6 122 95;
	--rgb-green-300: 0 148 114;
	--rgb-green-400: 0 176 135;
	--rgb-green-500: 19 194 153;
	--rgb-green-600: 95 212 176;
	--rgb-green-700: 139 217 199;
	--rgb-green-800: 188 235 224;
	--rgb-green-900: 225 250 244;

	--rgb-pink-050: 133 20 59;
	--rgb-pink-100: 171 24 75;
	--rgb-pink-200: 209 27 90;
	--rgb-pink-300: 224 52 111;
	--rgb-pink-400: 242 82 138;
	--rgb-pink-500: 255 112 162;
	--rgb-pink-600: 255 150 187;
	--rgb-pink-700: 255 176 203;
	--rgb-pink-800: 255 201 220;
	--rgb-pink-900: 254 228 237;

	--rgb-grape-050: 107 25 128;
	--rgb-grape-100: 134 29 160;
	--rgb-grape-200: 167 36 200;
	--rgb-grape-300: 183 50 217;
	--rgb-grape-400: 199 80 229;
	--rgb-grape-500: 219 109 247;
	--rgb-grape-600: 226 143 247;
	--rgb-grape-700: 234 170 250;
	--rgb-grape-800: 243 207 252;
	--rgb-grape-900: 250 229 255;

	--rgb-violet-050: 67 35 166;
	--rgb-violet-100: 76 34 201;
	--rgb-violet-200: 90 42 235;
	--rgb-violet-300: 105 59 245;
	--rgb-violet-400: 129 91 245;
	--rgb-violet-500: 150 115 255;
	--rgb-violet-600: 178 153 255;
	--rgb-violet-700: 197 178 255;
	--rgb-violet-800: 224 214 255;
	--rgb-violet-900: 239 234 254;

	--rgb-cyan-050: 10 90 102;
	--rgb-cyan-100: 7 107 122;
	--rgb-cyan-200: 16 139 158;
	--rgb-cyan-300: 9 160 184;
	--rgb-cyan-400: 0 179 207;
	--rgb-cyan-500: 44 196 219;
	--rgb-cyan-600: 101 213 231;
	--rgb-cyan-700: 147 225 237;
	--rgb-cyan-800: 197 239 246;
	--rgb-cyan-900: 229 249 252;

	--rgb-lime-050: 68 105 13;
	--rgb-lime-100: 80 125 12;
	--rgb-lime-200: 92 145 12;
	--rgb-lime-300: 106 166 17;
	--rgb-lime-400: 125 199 12;
	--rgb-lime-500: 146 214 43;
	--rgb-lime-600: 179 235 94;
	--rgb-lime-700: 208 245 152;
	--rgb-lime-800: 235 255 204;
	--rgb-lime-900: 245 255 229;

	--rgb-yellow-050: 194 97 0;
	--rgb-yellow-100: 214 120 0;
	--rgb-yellow-200: 229 144 0;
	--rgb-yellow-300: 237 166 0;
	--rgb-yellow-400: 247 186 0;
	--rgb-yellow-500: 255 200 31;
	--rgb-yellow-600: 252 210 76;
	--rgb-yellow-700: 255 223 128;
	--rgb-yellow-800: 255 236 179;
	--rgb-yellow-900: 255 246 217;
}
